sims =
(
     //  currently this is only for shm compatability and only sims listed here will be considered
     {
         name         = "AssettoCorsa";
         gameid       = 244210;
         launchexe    = "AssettoCorsa.exe";
         liveexe      = "acs.exe";
         bridgedelay  = 5; // this is the default, this is optional
         simapi       = 1; // SimulatorAPI enum defined in simapi.h
     },
     {
         name         = "AssettoCorsaEVO";
         gameid       = 3058630;
         launchexe    = "AssettoCorsaEVO.exe";
         liveexe      = "AssettoCorsaEVO.exe";
         bridgedelay  = 5; // this is the default, this is optional
         simapi       = 1; // SimulatorAPI enum defined in simapi.h
     },
     {
         name         = "Automobilista2";
         gameid       = 1066890;
         useudp       = false;
         launchexe    = "AMS2AVX.exe";
         liveexe      = "AMS2AVX.exe";
         bridgedelay  = 5; // this is the default, this is optional
         simapi       = 3; // SimulatorAPI enum defined in simapi.h
     },
);
